<div class="containerTwo">
    <div class="p-grid">
        <div class="p-col-12">
            <H1> Nova Empresa</H1>
        </div>
    </div>

    <p-card>

        <form>
            <div class="p-grid" href="javascript:;" [pTooltip]="'Apenas o complemento não é obrigatório'"
                tooltipPosition="bottom">

                <div class="p-col-6 p-fluid">
                    <label> Nome Fantasia </label>
                    <input pInputText type="text" required minlength="5" name="nome">
                </div>

                <div class="p-col-6 p-fluid">
                    <label>E-mail </label>
                    <input pInputText type="text" name="email"
                    required minlength="7">
                </div>

                <div class="p-col-12 p-md-9 p-fluid">
                    <label>Logradouro </label>
                    <input pInputText type="text" name="logradouro"
                    required minlength="5">
                </div>




            </div>
        </form>

    </p-card>

















</div>