
<nav class="navbar">

    <div class="container">

      <div class="p-grid">
        <div class="p-col-12">
          <a href="javascript:;"  (click)="exibindoMenu = !exibindoMenu"
          class="navbar-toggle"><i class="pi pi-bars"></i></a>
        </div>
      </div>
      
    </div>

    <ul class="navbar-menu" [hidden]="!exibindoMenu">
      <img src="../../assets/logoBranco.png"  href="#" class="navbar-menuitem"  layout-align="center" style="width: 105px; Height: 105px "  flex="70">
      <br> 
 
      
        <!-- Pendências = lancamentos -->
        <li class="navbar-menuitem"><a (click)="home()">Página inicial</a></li>
        <li class="navbar-menuitem"><a (click)="pendenciaLista()">Lançamentos</a></li>
        <!-- <li class="navbar-menuitem"><a (click)="pendenciaCadastro()">Nova pendência</a></li> -->
        <li class="navbar-menuitem"><a (click)="clienteLista()">Pessoas</a></li>
        <li class="navbar-menuitem"><a (click)="empresas()">Empresas</a></li>
        <li class="navbar-menuitem"><a (click)="empresasCadastro()">Empresas Cadastro</a></li>
        <!-- <li class="navbar-menuitem"><a (click)="clienteCadastro()">Novo cliente</a></li>
        <li class="navbar-menuitem"><a (click)="controleVenda()">Controle de vendas</a></li>
        <li class="navbar-menuitem"><a (click)="novaVenda()">Nova venda</a></li> -->
        <!-- <li class="navbar-menuitem"><a href="#">Fornecedores</a></li>
        <li class="navbar-menuitem"><a href="#">Novo fornecedor</a></li> -->
        <li class="navbar-menuitem"><a href="#">Sair</a></li>
      </ul>
  

   
  </nav>
  