
 
<div class="containerHome">
    <form autocomplete="off" (ngSubmit)="pesquisar()">

  
<div class="p-grid">
   
    <div class="p-col-12">
        <H1>Lançamentos financeiros</H1>
    </div>

    <!-- fluid: ocupar a class -->
    <div class="p-col-6 p-fluid"> 
        <label>Descrição: </label>
        <input  pInputText type="text" name="descricao" 
        [(ngModel)]="filtro.descricao"/>
    </div>

    <div class="p-col-6">
        <label style="display: block">Vencimento: </label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '150px' }"
            name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>
  
        <label> até </label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '150px' }"
        name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
    </div>

    <div class="p-col-12">
        <button pButton type="submit" label="PESQUISAR"></button>
  
        <button pButton  (click)="cadastro()" 
        label="NOVO LANÇAMENTO" ></button>
    </div>
        
     
  
    
</div>
<br>

</form>
 

<div class="p-grid">
    <div class="p-col-12">
        
        <p-table  [value]="lancamentos" [paginator]="true" [rows]="2"
        [responsive]="true" #tabela>

        <ng-template pTemplate="caption">
            <div class="p-d-flex">
              
                <button type="button" pButton pRipple icon="pi pi-file-excel"  class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>

            </div>
        </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Pessoa</th>
                    <th>Descrição</th>
                    <th class="col-data-header">Vencimento</th>
                    <th class="col-data-header">Pagamento</th>
                    <th class="col-valor-header">Valor</th>
                    <th class="col-acoes-header"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lancamento >
                <!-- *ngIf="lancamento.categoria.codigo === 26" -->
                <tr  >
                    <td>{{ lancamento.pessoa.nome }}</td>
                    <td>{{ lancamento.descricao }}</td>
                    <td class="col-data-content">{{ lancamento.dataVencimento }}</td>
                    <td class="col-data-content">{{ lancamento.dataPagamento }}</td>
                    <td class="col-valor" [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">{{ lancamento.valor }}</td>
                    <td class="col-acoes">
                        <button pButton icon="pi pi-pencil"  pTooltip="Editar" tooltipPosition="top"
                        (click)="pendenciaCadastro(lancamento.codigo)"
                        ></button>
                        <button pButton icon="pi pi-trash"  pTooltip="Excluir" tooltipPosition="top"
                        (click)="confirmarExclusao(lancamento)"></button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="5">
                 <h2>Nenhuma pendência encontrada</h2>   
                  </td>
                </tr>
              </ng-template>
        </p-table>
    </div>
</div>




</div>
