<div class="container">
    
    <div class="p-grid">
        <div class="p-col-12">
            <H1>Novo cliente</H1>
        </div>
    </div>
<p-card>


    <form autocomplete="off">
        <div class="p-grid"
        href="javascript:;" [pTooltip]="'Apenas o complemento não é obrigatório'" tooltipPosition="bottom"
        >
      
            <div class="p-col-12 p-fluid">
              <label 
              >Nome completo </label>
              <input pInputText type="text" name="nome"
              ngModel #nome="ngModel" required minlength="5">

            <span *ngIf="nome.hasError('required') && nome.dirty"
              class="p-message p-message-error">
              Informe um nome.
            </span>
            <span *ngIf="nome.hasError('minlength') && nome.dirty"
              class="p-message p-message-error">
              Mínimo de {{ nome.errors?.minlength.requiredLength }} caracteres. Você digitou apenas {{ nome.errors?.minlength.actualLength }}
            </span>

            </div>
      
            <div class="p-col-12 p-md-9 p-fluid">
              <label>Logradouro </label>
              <input pInputText type="text"
              name="logradouro"
              ngModel #logradouro="ngModel" required minlength="5">


            <span *ngIf="nome.hasError('required') && nome.dirty"
              class="p-message p-message-error">
              Informe o logradouro.
            </span>
            <span *ngIf="logradouro.hasError('minlength') && logradouro.dirty"
              class="p-message p-message-error">
              Mínimo de {{ logradouro.errors?.minlength.requiredLength }} caracteres. Você digitou apenas {{ logradouro.errors?.minlength.actualLength }}
            </span>
            
            </div>
      
            <div class="p-col-12 p-md-3 p-fluid">
              <label>Número</label>
              <input pInputText type="text"
              name="numero"
              ngModel #numero="ngModel" required minlength="1">

            <span *ngIf="numero.hasError('required') && numero.dirty"
              class="p-message p-message-error">
              Informe o numero.
            </span>
            <span *ngIf="numero.hasError('minlength') && numero.dirty"
              class="p-message p-message-error">
              Mínimo de {{ numero.errors?.minlength.requiredLength }} caracteres. Você digitou apenas {{ numero.errors?.minlength.actualLength }}
            </span>

            </div>
      
            <div class="p-col-12 p-md-4 p-fluid">
              <label>Complemento</label>
              <input pInputText type="text"
              >
            </div>
      
            <div class="p-col-12 p-md-4 p-fluid">
              <label>Bairro</label>
              <input pInputText type="text"
            
              name="bairro"
              ngModel #bairro="ngModel" required minlength="4"
              >

              <span *ngIf="bairro.hasError('required') && bairro.dirty"
              class="p-message p-message-error">
              Informe o bairro.
            </span>
            <span *ngIf="bairro.hasError('minlength') && bairro.dirty"
              class="p-message p-message-error">
              Mínimo de {{ bairro.errors?.minlength.requiredLength }} caracteres. Você digitou apenas {{ bairro.errors?.minlength.actualLength }}
            </span>

            </div>
      
            <div class="p-col-12 p-md-4 p-fluid">
              <label>CEP</label>
              <p-inputMask mask="99.999-999"
              name="cep"
              ngModel #cep="ngModel" [required]="true"
              ></p-inputMask>


              <span *ngIf="cep.hasError('required') && cep.dirty"
              class="p-message p-message-error">
              Informe o cep.
            </span>
        
            </div>
      
            <div class="p-col-12 p-md-6 p-fluid">
              <label>Cidade</label>
              <input pInputText type="text"
             
              name="cidade"
              ngModel #cidade="ngModel" required minlength="5"
              >

              <span *ngIf="cidade.hasError('required') && cidade.dirty"
              class="p-message p-message-error">
              Informe o cidade.
            </span>
            <span *ngIf="cidade.hasError('minlength') && cidade.dirty"
              class="p-message p-message-error">
              Mínimo de {{ cidade.errors?.minlength.requiredLength }} caracteres. Você digitou apenas {{ cidade.errors?.minlength.actualLength }}
            </span>
            </div>
      
            <div class="p-col-12 p-md-6 p-fluid">
              <label>Estado</label>
              <input pInputText type="text"
              name="estado"
              ngModel #estado="ngModel" required minlength="5"
              >

              <span *ngIf="estado.hasError('required') && estado.dirty"
              class="p-message p-message-error">
              Informe o estado.
            </span>
            <span *ngIf="estado.hasError('minlength') && estado.dirty"
              class="p-message p-message-error">
              Mínimo de {{ estado.errors?.minlength.requiredLength }} caracteres. Você digitou apenas {{ estado.errors?.minlength.actualLength }}
            </span>
            </div>
      
            <div class="p-col-12">
              <button pButton type="submit" label="Salvar"></button>
              <button pButton type="button" label="Novo" class="p-button-info"></button>
              <button pButton type="button" label="Voltar" routerLink="pessoas" class="p-button-info"></button>
              <!-- <a href="javascript:;">Voltar para a pesquisa</a> -->
            </div>
          </div>
      
    </form>

</p-card>
</div>
